<template>
  <div class="container bg-white">

    <div class="row justify-center">

      <div class="col-12 col-md-6 bg-grey-1 q-px-lg q-pt-xl shadow-spread-inner-sm">

        <div class="text-h4 text-grey q-pb-md">Romain Karmann</div>
        <div class="text-h3 q-pb-md">Créer des applications simples et innovantes</div>
        <div class="text-h5 q-pb-md">Artisan du code (certifié par le ministère du code)</div>
        <p class="text-italic">
          Un artisan du code, c'est comme un menuisier qui travaille le bois. Il prend un morceau de code brut et le
          façonne pour lui donner la forme souhaitée. C'est comme un plombier qui travaille les tuyaux.
          Il crée des flux de données qui transportent l'information là où elle doit aller. Ou encore
          comme un artiste qui peint un tableau. Il crée des images et des expériences numériques qui
          sont belles et fonctionnelles. L'artisan écoute pour créer, pour accompagner et pour innover.
        </p>
        <q-separator color="grey"></q-separator>
        <div v-show="$q.screen.gt.sm">
          <div class="text-h6 q-py-md">Expertises</div>
          <div class="row justify-between q-col-gutter-x-md">
            <div class="col-6 col-md-3 text-center q-pb-lg q-pt-md" v-for="(i, idx) in ['Développement d\'applications', 'Création de sites web', 'Gestion des données', 'Conception et analyse']" :key="i">
              <q-icon :name="skillsIcons[idx]" size="3rem" class="q-mb-md" />
              <p class="text-weight-bold">{{ i }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 bg-galaxy" v-if="$q.screen.gt.sm">
        <div class="flex full-height flex-center">
          <q-icon name="code" color="grey-3" size="6rem" />
        </div>
      </div>

      <div class="col-12 col-md-4 bg-gradient q-pa-md">
        <div class="flex full-height items-center bg-white">
          <div class="text-h3 text-dark q-pa-lg">
            Moteur de nouvelles idées !
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 bg-dark q-pa-lg text-white">
        <div class="text-h4 q-pb-md">
          ÉCOUTE, SIMPLICITÉ, INNOVATION.
        </div>
        <q-separator></q-separator>
        <div class="column">
          <p>
            L'écoute attentive de mes clients - utilisateurs est la clé d'une solution adaptée
            et accessible, qui les accompagnera sur le long terme grâce à l'innovation.
          </p>
          <p>
            Connaissez-vous la méthode KISS ?
          </p>
        </div>
        <div class="q-mt-md text-h5">
          <q-icon name="favorite" class="q-mr-sm"></q-icon>
          Keep It Simple, Stupid.
        </div>
      </div>

      <div class="col-12 col-md-10 bg-white q-pa-lg q-mt-md flex justify-between items-center">
        <div class="text-h3">Mes compétences</div>
        <div>
          <q-icon name="code" color="black" size="3rem" />
        </div>
      </div>
      <div class="col-12 col-md-5 bg-transparent q-pa-lg" v-for="(i, idx) in skills" :key="idx">
        <q-card class="bg-gradient q-pt-md shadow-spread-sm">
          <q-card-section class="bg-grey-1">
            <div class="text-h5 q-pb-md">{{ i.title }}</div>
            <p class="text-black">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi consequuntur corporis earum eligendi est, et eveniet ex impedit ipsam magni numquam reprehenderit repudiandae sapiente sunt ullam vitae voluptas voluptates.       </p>

            <div class="text-h6 q-py-md">Technologies</div>
            <div class="row justify-between q-col-gutter-x-md">
              <div class="col-6 col-md-3 text-black q-pa-lg text-center" v-for="j in i.technologies" :key="j">
                <q-icon name="code" class="text-black" size="2rem" />
                <div class="text-caption text-black">{{ j }}</div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-12 col-md-10 q-pa-lg flex items-center justify-between">
        <div class="text-h3">Mes expériences</div>
        <div>
          <q-icon name="code" color="black" size="3rem" />
        </div>
      </div>
      <div class="col-12 col-md-5 bg-transparent q-pa-lg" v-for="i in 4" :key="i">
        <q-card class="bg-gradient shadow-spread-sm q-pt-md">
          <q-card-section class="bg-grey-1">
            <div class="text-h5 q-pb-md">Lorem ipsum</div>
            <div class="flex justify-between q-pb-md">
              <div class="text-weight-bold">
                Lille, France
              </div>
              <div class="text-weight-light">10/2022&nbsp;-&nbsp;11/2023</div>
            </div>
            <p class="text-caption">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi consequuntur corporis earum eligendi est, et eveniet ex impedit ipsam magni numquam reprehenderit repudiandae sapiente sunt ullam vitae voluptas voluptates.       </p>

            <div class="text-h6 q-py-md">Technologies</div>
            <div class="row justify-between q-col-gutter-x-md">
              <div class="col-6 col-md-3 text-center q-pa-lg" v-for="i in 4" :key="i">
                <q-icon name="code" size="2rem" />
                <div class="text-caption ">Lorem ipsum</div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-12 col-md-10 bg-white q-pa-lg flex justify-between items-center">
        <div class="text-h3">Un nouveau projet ?</div>
        <q-btn label="contactez-moi" class="bg-dark" text-color="white" size="xl" square unelevated></q-btn>
      </div>
    </div>
  </div>
</template>

<script setup>
const skillsIcons = [
  'terminal', 'branding_watermark', 'description', 'analytics'
]

const skills = [
  {
    'title': 'Développement Front-end',
    'description': '',
    'technologies': ['VueJS', 'HTML5', 'Vuetify', 'Quasar']
  },
  {
    'title': 'Développement Back-end',
    'description': '',
    'technologies': ['PHP', 'Python', 'Go', 'Javascript']
  },
  {
    'title': 'Déploiement d\'infrastructure',
    'description': '',
    'technologies': ['Docker', 'Kubernetes', 'Gitlab', 'Terraform']
  },
  {
    'title': 'Cloud',
    'description': '',
    'technologies': ['AWS', 'Netlify', 'Scaleway', 'OVHcloud']
  },
  {
    'title': 'Design d\'interfaces',
    'description': '',
    'technologies': ['Figma', 'AdobeXD', 'Paint']
  },
  {
    'title': 'Gestion de projet',
    'description': '',
    'technologies': ['Notion', 'Jira', 'Office', 'Miro']
  },
]
</script>
