// app global css in SCSS form
.bg-gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,93,1) 35%, rgba(0,212,255,1) 100%);
}

.bg-galaxy {
  background: url('https://cdn.pixabay.com/photo/2022/12/12/16/39/universe-7651376_1280.jpg') no-repeat center center fixed;
  background-size: cover;
}

.shadow-text {
  text-shadow: -5px 5px 0px #09ccf4, -10px 10px 0px #760d5b, -15px 15px 0px #050225;
}

.shadow-spread-sm {
  -webkit-box-shadow: -2px -2px 39px -6px #9E9E9E;
  box-shadow: -2px -2px 39px -6px #9E9E9E;
}

.shadow-spread-inner-sm {
  -webkit-box-shadow: inset 1px -7px 15px -2px #757575;
  box-shadow: inset 1px -7px 15px -2px #757575;
}

.shadow-spread-inner-right-sm {
  -webkit-box-shadow: inset -16px 0px 15px -5px #282828;
  box-shadow: inset -16px 0px 15px -5px #262626;
}


.shadow-spread-inner-xl {
  -webkit-box-shadow: inset -16px 0px 31px 16px rgba(117,117,117,0.64);
  box-shadow: inset -16px 0px 31px 16px rgba(117,117,117,0.64);
}




// font-face for junegull.ttf
@font-face {
  font-family: 'junegull';
  src: url('src/assets/junegull.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'junegull';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.text {
  font-family: 'junegull';
  font-size: 16px;
}

