<template>
  <q-layout>
    <q-page-container>
      <router-view />
    </q-page-container>

    <footer class="bg-white">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-10">
            <div class="row justify-center">
              <div class="col-12 col-md-6 q-pa-lg bg-gradient text-white flex items-center">
                <div class="q-pb-sm text-h5">Une inspiration</div>
                <div>
                  <div>
                    “Hâtez-vous lentement ; et, sans perdre courage, Vingt fois sur le métier remettez votre ouvrage : Polissez-le sans cesse et le repolissez ; Ajoutez quelquefois, et souvent effacez."
                  </div>
                </div>
                <div class="q-pt-md">Nicolas Boileau</div>
              </div>
              <div :class="`col-12 col-sm-4 col-md-2 q-pa-lg shadow-spread-inner-right-sm bg-grey-${8+idx}`" v-for="(i, idx) in Object.keys(footerProps)" :key="i">
                <q-list>
                  <q-item>
                    <q-item-section class="text-weight-bold text-white">
                      {{ i }}
                    </q-item-section>
                  </q-item>
                  <q-item v-for="j in footerProps[i]" :key="j">
                    <q-item-section>
                      <div class="text-caption text-white">{{ j }}</div>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
              <div class="col-12 text-center q-pt-md text-black bg-white">
                <p><b>Romain Karmann</b> • © 2023 • Fait avec • ∞ <b>VueJS & Quasar</b> ∞ • à Lille, France. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </q-layout>
</template>

<script setup>
const footerProps = {
  'voyages': [ 'Angleterre', 'Pays-Bas', 'Suède', 'Canada',],
  'sports': ['Course à pied', 'Danse', 'Basketball', 'Ping-pong'],
  'musique': ['TECHNO', 'HEAVY METAL', 'RAP', 'CLASSIQUE'],
}
</script>
